@page "/"

<PageTitle>Index</PageTitle>

<h1>F U M B L E</h1>

Welcome to Fumble, where love happens in unexpected moments. Swipe, connect, and discover your true partner!

<SurveyPrompt Title="How is Blazor working for you?" />
